<NuGetPack>
  <AddFrameworkReferences>true</AddFrameworkReferences>
  <IconUrl/>
  <ProjectUrl>https://github.com/fluorine/FluentConsoleApplication</ProjectUrl>
  <LicenseUrl>https://github.com/fluorine/FluentConsoleApplication/blob/master/LICENSE.md</LicenseUrl>
  <Authors>Joseph Anglada</Authors>
  <Owners>Joseph Anglada</Owners>
  <Copyright>(c)2018 Copyright</Copyright>
  <Description>This library for .NET uses a fluent interface of chained methods for building complete Command-Line Applications.</Description>
  <Summary>Fluent library for building complete Command-Line Applications</Summary>
  <Keywords>fluent, linq, syntax, library, parse, parsing, command, console</Keywords>
</NuGetPack>